language: node_js
node_js:
- 6
deploy:
  provider: heroku
  api_key:
    secure: XBnGtppqNGXSQBfWUdIZ5eZvOapcDWvJXg320bqE7WmRKnJTkyd4mD7eRvrVFWC/Rg2vS/JSi1F7xQOof6f2auNi8ICXs4fvK9odXV3NuMp1qYPl+ySKho6J7JE9J7MxdD/vJFz3wxih0AomOFFgdbaYl2XKqMDrOTD9DmupYxA/nfuXEV9k+y3x6lOQqwqvZ8ZaJwyB2Bt1Y9pcX3IDN6HlJffk9xnJYUL1IlasOLMyxTyVRn+ObbDtJkXawzX99nMdH0o+px/iQp4m0SYHAcciymbwAUFcDv44mZL0h7qCjyQTmUjUHTvPcWC1R48nN2JPfZglexlkGWJ3hM5/SiIwcf8hWlgssBt4II1antjuX0qyjFPEM6759NJ+zPkEqLpXQK95HO9ODI+gMJggxJexpk+DlMDKOHhQw7yVSQOpOPZ8G9dV6hBGaSxLiAiluzSgxPo6HzmwPisZ3vGzcahq2tsM20Spb0alCLg4tNUGUjSINh/Zqy+SrYFH6dzFJ8tj1z2lPtlzWWdRL1TInZtOoa/MQQDM9tWfT0QOh5bgVuMUYuE73xBXHx3E29EUEl7CAtEs9RQQPSmH/LgXN6cCcKCW2kGM87yQhsKrSvoSz91nptV7IxrJKklg0XJUUZ5w4UTS9gB33iY/LITVLEUSqBUnF3wXGmMBUlCDQZo=
  app: progressive-team
  on:
    repo: ElusiveSpirit/2016_2_ProgressiveTeam
