@import "./milligram.min.scss";
@import "../components/button/button.scss";
@import "../components/container/container.scss";
@import "../components/form/form.scss";
@import "../components/layout/layout.scss";
@import "../components/menu/menu.scss";
@import "../components/notification/notification.scss";


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-main {
  padding: 5vw;
  width: 100%;
  height: 100vh;
  background-image: url(/static/background-main.jpg);
  background-color: #3b3a3a;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: Endoralt;
  src: url(/fonts/ENDORALT.ttf);
}

.text_fantasy-style {
  color: white;
  font-family: Endoralt;
}

h1.text_fantasy-style {
  font-size: 10rem;
}
