
.button {
  text-decoration: none;
  color: #fff;
  background-color: #4dca62;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease-out;
}

.button:hover {
  background-color: #7ecf8c;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transition: all .3s ease-out;
}

.button-left {
  float: left;
  background-color: #fff;
  color: #4dca62;
  border: .1rem solid #4dca62;
}

.button-left:hover {
  background-color: #fff;
  color: #7ecf8c;
  border: .1rem solid #7ecf8c;
}

.button_full-width {
    width: 100%;
}

.button_inline {
    margin-right: 10px;
}
